@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-yellow: theme(colors.yellow); /* #ffe922   */
    --clr-beige: theme(colors.beige); /* #ebdcd7   */
  }

  html,
  body,
  #root {
    height: 100%;
    min-height: 100vh;
    background-color: #302a2a;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
